@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

:root {
    /*Start of palette*/
    --bluebase: #112B3C;
    --blue2: #205375;
    --orange: #F66B0E;
    --ice: #EFEFEF;
    --brightorange: #FFA500FF;
    /*End of palette*/

    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --lightgray: #b8bbbf;
    --light: #eee;
    --blue: #0df8fc;
    --red: #fa0702;
}

* {
    box-sizing:border-box;
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}


body {
    display: flex;
    margin-left: auto;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bluebase);
}

.nav {
    width: 100%;
    height: 105px;
    background-image: linear-gradient(to bottom, var(--bluebase), var(--darkest));
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
    border-bottom: 1px solid var(--bluebase);
    box-shadow: 5px 10px 20px var(--darkest);
    position: fixed;
    text-align: left;
    z-index: 4;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: .25rem;
    z-index: 1;
}

.nav .menu-access {
    display: flex;
    margin: 0 auto;
    float: right;
    height: 1px;
    min-width: 90px;
    z-index: 4;
}

.nav label {
    height: 90px;
    width: 90px;
    z-index: 5;
}

.nav .hamburger {
    line-height: 20px;
    margin-top: 1.25rem;
    position: fixed;
    top: 1px;
    right: 20px;
    z-index: 7;
    width: 75px;
    height: 75px;
}

.nav .hamburger .line {
    display: inline-block;
    height: 6px;
    width: 65px;
    border-radius: 6px;
    background: var(--gray);
  }

  .nav .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav .hamburger .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav .hamburger .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
  }

.nav .menu-items {
    list-style: none;
    background-image: linear-gradient(to bottom, var(--bluebase), var(--darkest));
    box-shadow: 0 10px 20px var(--bluebase);
    border-radius: 1rem;
    border-bottom: 1px solid var(--orange);
    border-left: 1px solid var(--orange);
    border-right: 1px solid var(--orange);
    height: 85vh;
    width: 100vw;
    display: flex;
    margin-top: -2rem;
    transform: translateY(-1000px);
    flex-direction: column;
    transition: transform .6s ease-in-out;
    text-align: center;
    opacity: .985;
    z-index: 3;
}

.nav .menu-items a {
    margin: auto auto 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--lightgray);
    opacity: .95;
    transition: .3s ease-in-out;
}

.nav .menu-items li #sign-out {
    text-decoration: none;
    font-weight: 400;
    color: var(--lightgray);
    opacity: .95;
    transition: .3s ease-in-out;
}

.nav .menu-items a:hover {
    color: var(--orange);
}

.nav .menu-items #sign-out:hover {
    color: crimson;
}

.nav .menu-access input#menu-check {
    position: absolute;
    display: block;
    height: 75px;
    width: 75px;
    top: 10px;
    right: 20px;
    z-index: 8;
    opacity: .5;
    cursor: pointer;
}

.nav .menu-access input#menu-check:checked~.menu-items {
    transform: translateY(-90px);
}

.nav .menu-access input#menu-check:checked~.hamburger .line1 {
    transform: rotate(40deg);
    background: var(--orange);
}

.nav .menu-access input#menu-check:checked~.hamburger .line2 {
    transform: scale(0);
    background: var(--orange);
}

.nav .menu-access input#menu-check:checked~.hamburger .line3 {
    transform: rotate(-40deg);
    background: var(--orange);
}

div#task-entry {
    z-index: 2;
    position: fixed;
    display: flex;
    margin: .5rem auto auto 4.5vw;
    max-width: 500px;
}

#new-task-form {
    display: flex;
    margin: 1.5rem auto auto;
}

#new-task-input {
    display: flex;
    border-radius: 1rem;
    border: 1px solid var(--brightorange);
    background-color: var(--bluebase);
    box-shadow: 2px 5px 10px var(--darkest);
    opacity: .945;
    width: 50vw;
    min-width: 300px;
    padding: 1rem;
    color: var(--light);
    font-size: 1.5rem;
}

#new-task-input::placeholder {
    color: var(--lightgray);
}
#new-task-submit {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: .5rem;
    color: var(--brightorange);
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    color: var(--ice);
}

#new-task-submit:active{
    opacity: 0.6;
}

main {
    flex: auto;
    max-width: 60vw;
    min-width: 450px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.task-list {
    padding: 1rem;
}

main h2 {
    text-align: center;
    padding-top: 0;
    font-family: "Avenir Next", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--ice);
    text-shadow: 2px 2px 1px var(--bluebase);
    margin: 10rem auto 0;
}

#tasks {
    padding: 1rem;
    background: var(--bluebase);
    border-radius: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-around;
    background-color: var(--bluebase);
    border: 1px solid var(--blue2);
    box-shadow: 5px 5px 10px var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: transform 1.2s;
}

.task input[type="checkbox"] {
    padding: 1rem;
    cursor: pointer;
    appearance: none;
    background-color: var(--bluebase);
    margin: 0;
    width: 1em;
    height: 1em;
    border: .2em solid #1561ab;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    z-index: 0;
    place-content: center;
    transition: 0.3s;
}

.task input[type="checkbox"]:hover {
    border: 0.2em solid var(--blue);
}

.task input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--orange);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.task input[type="checkbox"]:checked::before {
    transform: scale(1);
} 

.task .content {
    flex: 1 1 0;
}

.task .content .text {
    color: var(--ice);
    font-size: 1.25rem;
    width: 100%;
    transition: 0.4s;
    padding-left: 1rem;
    padding-top: 8px
}

.task .content .text:not(:read-only) {
    color: var(--blue);
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    opacity: 0.5;
}

.task .actions .edit {
    color: var(--orange);
    text-shadow: 1px 1px 1px black;
}

.task .actions .edit:hover {
    opacity: 1;
}

.task .actions .delete {
    color: crimson;
    text-shadow: 1px 1px 1px black;
}

.task .actions .delete:hover {
    opacity: 1;
}

.removed {
    transform: rotateY(180deg) rotateX(180deg) translateX(100vw) translateY(50vh);
}

